extends ../layout

block content
	.container
		.row
			each item in movies
				.col-md-2
					.thumbnail.clear-padding
						a(href="/movie/"+item._id)
							img#limited(src=item.poster,alt=item.title)
						.caption
							h4.text-center #{item.title}
							p.text-center: a.btn.btn-primary(href="/movie/"+item._id,role="button") 观看视频